/*CSS RESET*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    border-radius: 0.4rem;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6, a {
    overflow-wrap: break-word;
    color: var(--letras);
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  li,ol{
    list-style: none;
  }

  a{
    text-decoration: none;
  }

  button{
    cursor: pointer;
    color:var(--letras);
  }
  a[type='button']{
    border: 1px solid rgb(124, 124, 124);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
  }

.pre-btn,
.nxt-btn,
.ir-inicio{
  
  border: none;
}

:root{
  --fondo:#F0F4F3;
  --header:white;
  --ham-menu: #FFF8F0;
  --ham-menu-btn:rgb(71, 69, 69);
  --contenedorRecomendados:#ececec;
  --banner:#FFFFFF;
  --borde:#A8DCD1;
  --footer:#00695C;
  --letras:#333333;
  --iconos:black;
}

.modo-oscuro{
  --fondo:rgb(26, 25, 25);
  --header:black;
  --ham-menu:rgb(68, 67, 67);
  --ham-menu-btn:rgb(197, 187, 187);
  --contenedorRecomendados:#333333;
  --banner:#000000;
  --borde:#A8DCD1;
  --footer:#00695C;
  --letras:white;
  --iconos:white;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    background-color: var(--header);
}

.ham-menu-off{
  background-color:var(--ham-menu);
  height: 100vh;
  width: 100%;
  max-width: 30%;
  position: fixed;
  top: 0;
  right: -40%;
  transition: .3s ease;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  z-index: 1;
  font-size: 1.3rem;
}

.ham-menu-off.active{
  right: 0;
}

.ham-menu{
  position: relative;
  width: 40px;
  height: 40px;
  margin-left: auto;
   cursor: pointer;
}

.ham-menu span{
  position: absolute;
  top: 50%;
  left: 50%;
  height: 5px;
  width: 100%;
  background-color: var(--ham-menu-btn);
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  transition: .3s ease;
  z-index: 1;
}

.ham-menu span:nth-child(1){
  top: 25%;
}

.ham-menu span:nth-child(3){
  top: 75%;
}

.ham-menu.active span:nth-child(1){
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2){
  opacity: 0;
}


.ham-menu.active span:nth-child(3){
  top: 50%;
  transform: translate(-50%, 50%) rotate(-45deg);
}


.contenedorIntroduccion,
.contenedorRecomendados{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
    width: 90%;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    background-color: var(--fondo);
}



.titulos-catalogos{
  align-self: self-start;
  padding-left: 6rem;
  margin-top: 2rem;
}

.titulos-catalogos.destacados{
  align-self: center;
}

.contenedorRecomendados{
  justify-content: center;
  width: 90%;
  height: auto;
  gap: 2rem;
  background-color:var(--contenedorRecomendados) ;
  border-radius: 0.5rem;
  margin: 2rem 0;
  padding: 1rem 0;
}
.contenedorLista{
position: relative;
overflow: auto;
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  width: 100%;
  margin-bottom: 2rem;
}

.masVendidos{
overflow-x:hidden;
scroll-behavior: smooth;
width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4rem;
  padding: 1rem 1rem;
}

.masVendidos::-webkit-scrollbar{
  display: none;
}

.libros{
  width: 180px;
  height: 380px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  overflow: hidden;
  overflow-x: hidden;
}

.libros:hover{
  transform: scale(1.02);
  transition: .3s ease;
  cursor: pointer;
}

.info-libros{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.libros img{
  width: 200px;
  height: 850px;
  overflow: hidden;
}

.contenedorBanner{
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  gap: 1rem;
  border: 2px solid var(--borde);
  border-radius: 0.3rem;
  width: 80%;
  background-color: var(--banner);
  margin-bottom: 2rem;
}
.bannerDerecha{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: 60%;
}

.bannerDerecha button{
  width: 6rem;
  height: auto;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #00897B;
  margin: 0 auto;
}

.contenedorAutores{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  width: 80%;
  padding: 1rem;
  margin: 1rem;
}
.contenedorAutores span{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contenedorAutores span:hover{
  transform: scale(1.02);
  transition: .3s ease;
}

.contenedorAutores span img{
width: 150px;
height: 150px;
border-radius: 50%;
margin-bottom: 0.5rem;
}

.tituloCentrado{
  align-self: center;
}

.ir-inicio{
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0.5;
  border: none;
  cursor: pointer;
}

.ir-inicio:hover{
  opacity: 1;
  transition: all 0.2s linear;
}

.ir-inicio.hidden{
  display: none;
}

footer{
  display: flex;
}

.contenedor-footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
  background-color: var(--footer);
}

.contenedor-footer h2, .contenedor-footer li, .contenedor-footer h4,
.footer-izquierda h2, .contenedor-footer p{
   color: 	#FFFFFF;
}

.contenedor-footer i{
  color: #D0BAFF;
}

.contenedor-footer img{
  background-color: #F0F4F3;
  opacity: 0.9;
}

.contenedor-footer li,
.footer-izquierda p{
   color: 	#D0E7E4;
}

.footer-izquierda{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer-centro{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-centro-redes{
  display: flex;
  justify-content: flex-start;
  gap: 2.8rem;
  margin-top: 3.5rem;
}

footer .footer-linea{
  border-left: 2px solid #D0BAFF;
  height: 100%;
}

.footer-centro nav ul:nth-child(1){
  font-size: 1.1rem;
}


.footer-derecha{
  display: flex;
  justify-content: flex-start;
  gap: 5rem;
}

nav ul{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.recomendadosDerecha{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}
.recomendadosDerecha button{
  padding: 0.5rem 1rem;
  background-color: #00897B;
  border: none;
  border-radius: 0.3rem;
}

.bannerDerecha button:hover,
.recomendadosDerecha button:hover{
  transform: scale(1.1);
  transition: .3s ease;
  background-color: #005048;
}

.pre-btn,
.nxt-btn{
  color: var(--iconos);
  border: none;
  background-color: var(--fondo);
}

.ir-inicio{
  color: var(--letras);
}