.contenedor-servicios-general{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 10rem;
}

.contenedor-servicios{
    background-color: #FFFFFF;
    width: 60%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    border: 2px solid #A8DCD1;
    border-radius: 0.3rem;
    align-self: flex-start;
    margin: 8rem 2rem;
}

.servicio-izquierda{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.6rem;
  width: 50%;
}

.servicio-derecha{
  width: 50%;
  align-self: center;
}

.servicio-izquierda button{
  border: none;
  padding: 0.8rem;
  border-radius: 0.3rem;
  background-color: #A8DCD1;
}

.servicio-izquierda button:hover,
.contenedor-explora a:hover,
.bannerDerecha button:hover{
  transform: scale(1.1);
  transition: .3s ease;
  background-color: 	#00998a;
}

.contenedor-color-fondo{
display: flex;
justify-content: flex-end;
width: 100%;
background-color: rgb(230, 230, 230);
padding: 0;
margin: 0;
}

.contenedor-servicios.dos{
    align-self: flex-end;
}


.contenedor-explora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    height: 550px;
    width: 100%;
    margin: 0;
    background-color: rgb(230, 230, 230)
}
form[id='sugerencias']{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    gap: 0.5rem;
    padding: 1rem;
    margin: 4rem 0 15rem 0;
    border: 1px solid rgb(172, 142, 142);
    border-radius: 0.3rem;
}

form button{
  width: 50%;
  margin: 1rem;
  align-self: center;
}
.contenedor-biografia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1rem;
    gap: 1rem;

}
.biografia.primero{
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #A8DCD1;
    border-radius: 0.3rem;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem;
}

.biografia-derecha{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}



.biografias-secundarias{
    display: flex;
    width: 80%;
    gap: 1.5rem;
}

.biografia.primero img{
  width: 400px;
  border-radius: 10%;
  height: auto;
}
.biografia.segundo{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 63%;
    
    background-color: lightpink;
}

.biografia.tercero,
.biografia.cuarto{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #FFFFFF;
    border: 1px solid #A8DCD1;
    height: 300px;
}
.biografia h2{
  text-align: center;
}

.biografia.tercero ul li,
.biografia.cuarto ul li{
  margin: 0.8rem;
  list-style: inside;
}



.contenedor-autores{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2rem;
  width: 90%;
  height: auto;
  background-color:#FFFFFF;
  border: 1px solid #A8DCD1;
  border-radius: 0.5rem;
}

.autores-izquierda{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  font-size: 1em
}

.frase-celebre{
  font-style: italic;
  color: #3f3f3f;
  border-left: 2px solid #ccc;
  padding-left: 1em;
  margin: 1.5em 0;
}

.contenedor-autores-obras{
  margin: 4rem;
  text-align: center;
}

.autores-obras{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  padding: 1rem;
  gap: 2rem;
  height: auto;
  margin: 1rem;
}

.contenedor-imagen-autor{
  width: 300px;
  height: 400px;
  background-color: lightcoral;
   border-radius: 0.5rem;
}

.contenedor-imagen-autor img{
  width: 100%;
  height: 100%;
}

.obra{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 225px;
  height: 425px;
  text-align: center;
}

.obra:hover{
  transform: scale(1.1);
  transition: .3s ease;
  cursor: pointer;
}

.obra div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.obra img{
  width: 225px;
  height: 325px;
  max-width: 225px;
  max-height: 325px;
}

.sugerencias-titulos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
}

.catalogo-destacados{
  align-self: center;
  background-color:rgb(230, 230, 230);
  width: 90%;
}
.catalogo-destacados button{
  background-color:rgb(230, 230, 230);
}

.catalogo-destacados .masVendidos{
  margin: 0 auto;
  width: 100%;
}


