.sugerencias-titulos{
    text-align: center;
}
.sugerencias-titulos p{
    width: 80%;
    margin: 0.5rem;
}
.field {
  margin-bottom: 15px;
}

#form{
border: 1px solid rgb(206, 200, 200);
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.2rem;
}

.field label {
  display: block;
  font-size: 1.05em;
  color: var(--letras);
}

.field input,
.field textarea {
  display: block;
  min-width: 250px;
  line-height: 1.5;
  font-size: 14px;
  background-color: var(--banner);
  color: var(--letras);
  font-size: 1.01em;
  padding: 0.4rem 0.6rem;
  border: 1px solid rgb(105, 105, 105);
  border-radius: 0.2rem;
}

.field textarea{
    height: 8rem;
}

input[type="submit"] {
  display: block;
  padding: 0.8rem 2rem;
  margin: 0 auto;
  font-size: 1.01em;
  background-color: #00897B;
  color: #fff;
  border: none;
  cursor:pointer;
  border-radius: 0.2rem;
}

input[type='text']:valid,
input[type='email']:valid,
.field textarea:valid{
  border: 2px solid rgb(89, 255, 89);
  outline: none;
}

input[type='text']:invalid,
input[type='email']:invalid,
.field textarea:invalid{
  border: 2px solid rgb(248, 69, 69);
  outline: none;
}